<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Document</title>
  </head>
  <body>
    <h1 th:text="${title}"></h1>
    <div th:if="${users.isEmpty()}" th:text="'No hay usuarios'">
      No tiene elementos usuarios!
    </div>

    <table th:if="${!users.isEmpty()}">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.name}"></td>
          <td th:text="${user.lastName}"></td>
          <td
            th:text="${user.email == '' ? 'No tiene email' : user.email}"
          ></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
